{include file="common/head"/}
<div class="header">
<span>部门管理</span>
<div></div>
</div><br>
<div class="layui-form-item">
<div class="layui-form layui-form-pane" style="float:left;">
<div class="layui-form-item">
<label class="layui-form-label" style="margin-left:30px;">快捷查询</label>
<div class="layui-input-inline">
 <input type="text" class="layui-input" value="{$data.seek}" id="seek" style="width:320px;" placeholder="请输入编号/标签名称">
</div>
<button class="layui-btn" style="margin-left:150px;" onclick="searchs()"><i class="layui-icon">&#xe615;</i>搜索</button>
</div>  
</div>
</div> 
<table class="layui-table">
  <thead>
   <tr>
     <td>ID</td>
     <td>院系编号</td>
     <td>院系</td>
   </tr>
  </thead>
  <thead>
  {volist name="data.data.lists" key="key" id="vo"}
    <tr>
     <td>{$key}</td>
     <td>{$vo.Num}</td>
     <td>{$vo.Name}</td>
    </tr>
  {/volist}
  </thead>  
</table>
<div id="pages" style="text-align:center"></div>
{include file="common/foot"/}
<script>
 //引用layui主键
    layui.use(['layer','laypage'],function(){
      layer =layui.layer;
      //引用jquery
       $ =layui.jquery;
       laypage =layui.laypage;

       laypage.render({
          elem: 'pages' //注意，这里的 test1 是 ID，不用加 # 号
          ,count:{$data.data.total}
          ,limit:{$data.pageSize}
          ,curr:{$data.page}
          ,jump: function(obj, first){              
              //首次不执行
              if(!first){
                //实现搜索跳转和分页的统一
                searchs(obj.curr);
              }
            }
        });
    });
       //搜索
       function searchs(curpage){
        //消除第一行空格
        var seek =$.trim($('#seek').val());
        //有wd就加载至分页后面
        //var url ="/admin.php/admin/Panel/department/index?page="+curpage;
        var url ="{:url('Panel/department')}?page="+curpage;
        //var_dump(url);
        if(seek){
          //将搜索到的内容拼接至分页后面
          url+='&seek='+seek;
        }
        //页面跳转，搜索和分页跳转的统一
        window.location.href =url;
    }
</script>
