<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>后台首页</title>
     <link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css" media="all">
     <link rel="stylesheet" type="text/css" href="__STATIC__/plugins/css/meeting.css">
     <link alink="red">
     <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
     <script type="text/javascript" src="__STATIC__/plugins/layui/particle.min.js" ></script> 
     <script type="text/javascript" src="__STATIC__/plugins/layui/jquery-1.7.2.min.js"></script>   
  </head>
  <body  class="layui-layout-body">
  </body>
</html>
          
